.navbar {
    background-color: #3f51b5;
    height: 55px;
    position: relative;
  }
  .navbar ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 5px;
  }
  .navbar ul li button {
    background-color: transparent;
    width: 100%;
    border: none;
  }
  .navbar ul li button:hover {
    background-color: rgb(96, 69, 248);
    width: 100%;
    border: none;
  }
  .navbar ul li a {
    margin: 15px;
    font-size: 13px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.84);
    text-decoration: none;
  }