<div class="navbar">
  <ul>
    <li>
      <button>
        <a href="#" style="font-family: 'Arial', 'Helvetica', sans-serif; font-size: 16px">EW POS</a>
      </button>
    </li>
    <li>
      <button><a href="#">Products</a></button>
    </li>
    <li>
      <button><a href="#">Log in</a></button>
    </li>
  </ul>
</div>
<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Log in</h3>
      <h6>Use a local account to log in.</h6>
    </div>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
        <div style="width: 350px; height: 200px; position: relative; left: 10%">
          <div style="display: block">
            <div class="input-1">
              <p>Email</p>
              <input type="text" name="user" formControlName="user" />
            </div>
          </div>

          <div style="display: block">
            <div class="input-2">
              <p style="margin: 0px; padding: 0px">Password</p>
              <input type="password" name="password" formControlName="password" />
            </div>
          </div>
          <div style="display: block">
            <div class="input-3" style="display: block">
              <p>
                <span *ngIf="pass && pass.invalid && pass.touched">The Password field is Required.</span><a
                (click)="goToForget()"  style="color: #009688">Forgot Password</a>

              </p>
            </div>
          </div>

          <div style="display: block">
            <div class="input-4">
              <a href="#" class="btn btn-primary" style="
                  border: none;
                  width: 100px;
                  font-size: 12px;
                  color: rgba(255, 255, 255, 0.84);
                  background-color: #009688;
                  border-radius: 2px;
                ">LOG IN</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>